@using WebStoreApplication.Global;
@using Newtonsoft.Json;
@using WebStoreApplication.Shared;
@{
    ViewData["Title"] = "AddProduct";


    int userId = Session.userId;

    String result = Global.Get("https://localhost:5001/products/all/product-types");

    List<TypeModel> types = JsonConvert.DeserializeObject<List<TypeModel>>(result);
}

<h1>Add Product</h1>
<br>
<form>
    <div class="row">
        <div class="col">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" placeholder="e.g. Hand Sanitizer">
        </div>
        <div class="col">
            <label for="productDescription">Product Description</label>
            <input type="text" class="form-control" id="productDescription" placeholder="e.g. Cleans hands. 99% effective">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label for="productPrice">Product Price (R)</label>
            <input type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="20" id="productPrice">
        </div>
        <div class="col">
            <label for="productType">Product Category</label>
            <div class="dropdown" id="productType">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Categories
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                   @{
                        foreach (TypeModel type in types)
                        {
                            <li><a href="#">@type.typeName</a></li>

                            }
                        }
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="input-group">
        <div class="custom-file">
            <input type="file" id="fileUpload" onchange="loadImage()"/>
        </div>
    </div>
</form>
<br>
<button type="button" class="btn btn-primary" onclick="addProduct()">Add Product</button>

<br>
<br>
<div colspan="3" id="imagePreview"></div>
<textarea id="inputTextToSave"></textarea>

@section Scripts{
    <script type="text/javascript">
        var productTypeG;
        var imageG;


        var contentType = '';

        function loadImage () {
            var file = document.getElementById("fileUpload").files[0];

            var reader = new FileReader();
            reader.onload = function (event) {
                var data = event.target.result;

                var data16 = new Uint16Array(data);
                var text = [];
                for (i = 0; i < data16.length; i++) {
                    text.push(data16[i]);
                }

                document.getElementById("inputTextToSave").value = text;
                imageG = text;
                var imagePreview = document.getElementById("imagePreview");
                imagePreview.innerHTML = '';

                var dataURLReader = new FileReader();
                dataURLReader.onload = function (event) {
                    // Parse image properties
                    var dataURL = event.target.result;
                    contentType = dataURL.split(",")[0].split(":")[1].split(";")[0];

                    var image = new Image();
                    image.src = dataURL;
                    image.onload = function () {
                        console.log("Image type: " + contentType);
                        console.log("Image width: " + this.width);
                        console.log("Image height: " + this.height);
                        imagePreview.appendChild(this);
                    };
                };
                dataURLReader.readAsDataURL(file);


            };
            //reader.readAsBinaryString(file);
            reader.readAsArrayBuffer(file);
        }

        function addProduct() {
            var productName = document.getElementById("productName").value;
            var productDescription = document.getElementById("productDescription").value;
            var productPrice = document.getElementById("productPrice").value;
            var productType = productTypeG;
            var userId = @userId;
            var image = imageG;

            if (productName === "" || !productPrice || productType === "") {
                alert("FORM IS INVALID");
            } else {
                var data = 
                    {
                        productName: productName,
                        productDescription: productDescription,
                        price: parseInt(productPrice),
                        typeID: 1,
                        productName: productName,
                        userID: 1,
                        statusID : 1,
                        productImage: image
                    }
                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:5000/products/',
                    contentType: 'application/json',
                    data: JSON.stringify(data), // access in body
                }).done(function () {
                    console.log('SUCCESS');
                }).fail(function (msg) {
                    console.log('FAIL');
                    console.log(data.productImage);
                }).always(function (msg) {
                    console.log('ALWAYS');
                });
            }

            
        }

        $(function () {

            $(".dropdown-menu li a").click(function () {

                $(".btn:first-child").text($(this).text());
                $(".btn:first-child").val($(this).text());
                productTypeG = $(".btn:first-child").text();
            });

        });
    </script>
}