
@{
    ViewData["Title"] = "editProfile";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="C:\Users\liebenbergd03\Downloads\RegisterEditProfile.css" />
</head>

<body class="form" id="login">
    <h1>Update Profile</h1>
    <h3>Personal details</h3>
    <div id="container">
        <div id="fields">
            <form class="login-form">
                <input type="text" readonly placeholder="Username" />
                <input type="text" readonly placeholder="First Name">
                <input type="text" readonly placeholder="Surname" />
                <input type="text" readonly placeholder="email" />
                <input type="text" readonly placeholder="Contact Number" />
            </form>
        </div>
        <div id="inputs">
            <form class="login-form">
                <input type="text" />
                <input type="text">
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </form>
        </div>
        <h3>Security</h3>
        <div id="fields">
            <form class="login-form">
                <input type="text" readonly placeholder="Password" />
                <input type="text" readonly placeholder="Confirm Password">
                <input type="text" readonly placeholder="Street Name" />
                <input type="text" readonly placeholder="Suburd" />
                <input type="text" readonly placeholder="City" />
            </form>
        </div>
        <div id="inputs">
            <form class="login-form">
                <input type="password" />
                <input type="password">
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </form>
        </div>
    </div>
    <button id="LoginButton">Update</button>
</body>





