@model WebStoreApplication.Models.RegisterModel;
@using Newtonsoft.Json;
@using WebStoreApplication.Global;

@{
    ViewData["Title"] = "Register";
    String result = Global.Get("http://localhost:5000/location/city");
    List<CityModel> cities = JsonConvert.DeserializeObject<List<CityModel>>(result);
}


<form>
    <div class="container">
        <h1>My Profile</h1>
    </div>
    <hr>
    <h2>Personal Details</h2>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Username">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="First Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Surname</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Surname">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Email Address">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Contacnt Number</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Contacnt Number">
        </div>
    </div>

    <hr />

    <h2>Security Details</h2>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="colFormLabel" placeholder="Password">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="colFormLabel" placeholder="Confirm Password">
        </div>
    </div>

    <h2>Adress Details</h2>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Street Number</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Street Number">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Street Name</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Street Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Complex Name</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Complex Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Unit Number</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Unit Number">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Suburb</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Suburb">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @{
                        foreach (CityModel city in cities)
                        {
                            <a class="dropdown-item" href="#">@city.cityName</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Update</button>
    <button type="button" class="btn btn-danger btn-lg btn-block" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">Cancel</button>

</form>