@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Welcome to CoroNacessities </p>
    <p>Your one stop shop for everything you need during the pandemic.</p>
</div>
