
@{
    ViewData["Title"] = "Login";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="C:\Users\liebenbergd03\Downloads\style.css" />
</head>
<body class="form" id="login">
    <h1>Login</h1>
    <div>
        <form class="login-form">
            <input type="text" placeholder="Username" />
            <input type="password" placeholder="Password" />
            <button id="LoginButton">login</button>
        </form>
    </div>
</body>

