@using System.IO;
@using System.Net;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using WebStoreApplication.Global;
@using WebStoreApplication.Shared;

@{
    ViewData["Title"] = "ProductDetails";
}

<h1>Product Details</h1>

<h1 style="text-align: center;" id="productName">PRODUCT NAME</h1>

<ul class="list-group">
    <li class="list-group-item" id="price">First item</li>
    <li class="list-group-item" id="description">Second item</li>
    <li class="list-group-item" id="type">Third item</li>
</ul>
<br />
<button type="button" class="btn btn-primary" onclick="addToCart()">Add to Cart</button>

<button type="button" class="btn btn-primary" onclick="viewUser()">View User</button>
    
@section Scripts{
    <script>
        var id = localStorage.getItem("productSelected");

        function addToCart(username) {
            window.location.href = "http://localhost:5000/products/addToCart/" + id;
        }
        
        $(document).ready(function () {
            $.get("http://localhost:5000/products/" + id, function (data) {
                document.getElementById("productName").innerHTML = data.productName;
                document.getElementById("price").innerHTML = ("Price: " + data.price).bold();
                document.getElementById("description").innerHTML = ("Description: " + data.productDescription).bold();
                document.getElementById("type").innerHTML = ("Category: " + data.typeModel.typeName).bold();
                localStorage.setItem("userSelected", data.userID);
            })
        });

        function viewUser() {
            window.location.href = "https://localhost:5001/Home/viewProfile";
        }

    </script>
}