
@{
    ViewData["Title"] = "Register";
}

    
    <form>
        <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>

            <p>Already have an account? <a asp-area="" asp-controller="Home" asp-action="Login">Sign in</a>.</p>

        </div>
        <hr>
        <h2>Personal Details</h2>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Username">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="First Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Surname</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Surname">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Email Address">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Contacnt Number</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Contacnt Number">
            </div>
        </div>

        <hr />

        <h2>Security Details</h2>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="colFormLabel" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="colFormLabel" placeholder="Confirm Password">
            </div>
        </div>

        <h2>Adress Details</h2>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Street Number</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Street Number">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Street Name</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Street Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Complex Name</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Complex Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Unit Number</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Unit Number">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Suburb</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Suburb">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="City">
            </div>
        </div>
        
        <button type="button" class="btn btn-secondary btn-lg btn-block">Register</button>
        <button type="button" class="btn btn-danger btn-lg btn-block" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">Cancel</button>
       
    </form>