
@{
    ViewData["Title"] = "ViewProfile";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="C:\Users\liebenbergd03\Downloads\RegisterEditProfile.css" />
</head>

<body class="form" id="login">
    <h1>View Profile</h1>
    <h3>Personal details</h3>
    <div id="container">
        <div id="fields">
            <form class="login-form">
                <input type="text" readonly placeholder="Username" />
                <input type="text" readonly placeholder="First Name">
                <input type="text" readonly placeholder="Surname" />
                <input type="text" readonly placeholder="email" />
                <input type="text" readonly placeholder="Contact Number" />
            </form>
        </div>
        <div id="inputs">
            <form class="login-form">
                <input type="text" />
                <input type="text">
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </form>
        </div>
    </div>
    <h3>User Location</h3>
    <div id="map">
    </div>
    <button id="LoginButton">Back</button>
</body>






